<?xml version="1.0"?>
<!--
/**
 * Delivery Partner Menu
 *
 * @category    Delivery Partner
 * @package     Digired Delivery Partner
 * @author      Alauddin
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Nascenia_Grid::menu" title="Nascenia" module="Nascenia_Grid" sortOrder="10" resource="Nascenia_Grid::menu"/>
        <add id="Nascenia_Grid::add_row" title="Grid Manager" module="Nascenia_Grid" sortOrder="20" parent="Nascenia_Grid::menu" action="grid/grid" resource="Nascenia_Grid::add_row"/>
    </menu>
</config>
